@model labwebprojeto.Models.Compra

@{
    ViewData["Title"] = "Details";
}


<body id="bloquear-selecao" class="CategoriasBoddy">
    <main class="classmain">
        <section class="about-checkoutlista">
            <div class="checkoutlista">
                <div class="row">
                    <div class="col-md-12 about-rightcena nopadding">

                        <h1>Receipt</h1>
                        <br />
        <dt class = "col-sm-12">
            Buy Date
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.DataCompra)
        </dd>
        <dt class = "col-sm-12">
            Game Name
        </dt>
        <dd class = "col-sm-12">
            @Html.DisplayFor(model => model.IdJogoNavigation.Nome)
        </dd>
        <dt class = "col-sm-12">
            Price
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.IdJogoNavigation.Preco)
        </dd>
        <dt class="col-sm-12">
            Category
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.IdJogoNavigation.IdConsolaNavigation.Nome)
        </dd>
        <dt class="col-sm-12">
            Console
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.IdJogoNavigation.IdCategoriaNavigation.Nome)
        </dd>
        <dt class="col-sm-12">
            Producer
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.IdJogoNavigation.IdProdutoraNavigation.Nome)
        </dd>
        <dt class="col-sm-12">
            Description
        </dt>
        <dd class="col-sm-12">
            @Html.DisplayFor(model => model.IdJogoNavigation.Descricao)
        </dd>
    </dl>

                        <div class="adetails">
                            <a asp-action="Index">Back to List</a>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </main>
</body><

</div>
