@model IEnumerable<labwebprojeto.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h4>
    This is your game library <strong>@ViewData["userNome"]</strong>.
</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                Jogo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJogoNavigation.Nome)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdCompra">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>