@model IEnumerable<labwebprojeto.Models.Compra>

@{
    ViewData["Title"] = "Index";
}

<h1> Biblioteca de 
    @foreach (var item in (List<string>)ViewData["NomeUser"])
    {
        <strong>@item</strong>
    }
</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DataCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdJogoNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCompra)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdJogoNavigation.Nome)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.IdCompra">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>