@model IEnumerable<labwebprojeto.Models.Categoria>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<form class="d-flex" asp-controller="Categorias" asp-action="Index" method="get">
    <input class="form-control me-2" type="text" placeholder="Search" aria-label="Search" name="SearchString">
    <button class="btn btn-outline-success" type="submit" value="Filter">Search</button>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCategoria">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdCategoria">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCategoria">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<ejs-button id="custom" cssClass="e-custom" content="CUSTOM"></ejs-button>

<style>
    .e-custom {
        border-radius: 0;
        height: 100px;
        width: 100px;
    }
        .e-custom, .e-custom:hover, .e-custom:focus, .e-custom:active {
            background-color: #ff6e40;
            color: #fff;
        }
    button {
        
    }
</style>

<script>
    document.getElementById('button').onclick = function () {
        window.open("https://www.google.com");
    };
</script>