@model Jogo

<!-- Page Content -->

<body style="background-color: #004460; overflow: hidden" scroll="no">


    <!-- Portfolio Item Heading -->
    <!-- Portfolio Item Row -->

    <div class="row">
        <div class="col-12 nopadding">
            <div class="TESTE">
                <img class="header-top-gradient" src="/Images/aranha.jpg" />
                <div class="barra">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 nopadding">
            <div class="temdedar">
                <img src="/Images/sm4.jpg" />
            </div>
        </div>
        <div class="lolok col-4 nopadding">
            <div class="comeon">
                <div class="nametal">
                    <h1> @Model.Nome </h1>
                </div>
                <div class="precotal">
                    <h2>@Math.Round(@Model.Preco,2)€ </h2>
                </div>
                @if ((User.IsInRole("Admin")) || (User.IsInRole("Client")) || (User.IsInRole("Func")))
                {
                    <div class="maisumbutton">
                        <button> Comprar</button>
                    </div>
                }
                
                <div class="Versepinta">
                    <ul>
                        @foreach (string produtora in (List<string>)ViewData["Produtora"])
                        {
                            <li>@produtora</li>
                        }
                    </ul>
                    <ul>
                        @foreach (string categoria in (List<string>)ViewData["Categoria"])
                        {
                            <li>@categoria</li>
                        }
                    </ul>
                    <ul>
                        @foreach (string consola in (List<string>)ViewData["Consola"])
                        {
                            <li>@consola</li>
                        }
                    </ul>
                </div>
            </div>



        </div>
    </div>

    <!-- ============================================= -->
    <!-- ============================================= -->
    <!-- ============================================= -->
    <!-- ============================================= -->



</body>