@model Jogo

<body class="jogosBoddy" overflow: hidden" scroll="no">
    <div class="row">
        <div class="col-12 nopadding">
            <div class="TESTE">
                <img class="header-top-gradient" src="/Images/aranha.jpg" />
                <div class="barra">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8 nopadding">
            <div class="temdedar">
                <img src="/Images/sm4.jpg" />
            </div>
        </div>
        <div class="lolok col-4 nopadding">
            <div class="comeon">
                <div class="nametal">
                    <h1> @Model.Nome </h1>
                </div>
                <div class="precotal">
                    <h2>@Math.Round(@Model.Preco,2)€ </h2>
                </div>
                @if ((User.IsInRole("Admin")) || (User.IsInRole("Client")) || (User.IsInRole("Func")))
                {
                    <div class="maisumbutton">                                  
                        <a asp-controller="Compras" asp-action="Checkout" asp-route-id="@Model.IdJogos" class="btn btn-sm btn-outline-secondary">
                            Comprar
                        </a>
                    </div>
                }
                else {
                    <div class="Mensagem">
                    <ejs-message id="msg_default" content="You must be logged in to Buy a Game!"></ejs-message>
                    <a style="color:white">Click </a> <a href="/Identity/Account/Login">Here</a> <a style="color:white">to Login</a>
                    </div>
                }
                <div class="Versepinta">
                        <a asp-controller="Jogos" asp-action="IndexProdutoras" asp-route-id="@Model.IdProdutora" class="btn btn-sm btn-outline-secondary">
                            @Html.DisplayFor(model => model.IdProdutoraNavigation.Nome)
                        </a>
                        <a asp-controller="Jogos" asp-action="IndexCategorias" asp-route-id="@Model.IdCategoria" class="btn btn-sm btn-outline-secondary">
                            @Html.DisplayFor(model => model.IdCategoriaNavigation.Nome)
                        </a>
                        <a asp-controller="Jogos" asp-action="IndexConsolas" asp-route-id="@Model.IdConsola" class="btn btn-sm btn-outline-secondary">
                            @Html.DisplayFor(model => model.IdConsolaNavigation.Nome)
                        </a>
                </div>
            </div>
        </div>
    </div>
</body>