@model Jogo

<!-- Page Content -->

<body style="background-color:#4618ac">
    <div class="containerT">
        <!-- Portfolio Item Heading -->
        <h1 class="my-4">
            @Model.Nome
        </h1>

        <!-- Portfolio Item Row -->
        <div class="row">

            <!-- ============================================= -->
            <!-- ============================================= -->
            <div class="col-lg-5 control-section default-carousel-section">
                <div class="e-sample-resize-container carousel-sample">
                    <ejs-carousel id="defaultCarousel" cssClass="default-carousel">
                        <e-carousel-items>
                            <e-carousel-item template="#templateItem1"></e-carousel-item>
                            <e-carousel-item template="#templateItem2"></e-carousel-item>
                        </e-carousel-items>
                    </ejs-carousel>
                </div>
            </div>

            <script id="templateItem1" type="text/x-template">
                <figure class="img-container">
                    <img src=@Model.Foto alt="bridge" style="height:100%; width: 100%" />
                </figure>
            </script>
            <script id="templateItem2" type="text/x-template">
                <figure class="img-container">
                    <img src=@Model.Foto1 alt="bridge" style="height:100%; width: 100%" />
                </figure>
            </script>
            <script id="templateItem2" type="text/x-template">
                <figure class="img-container">
                    <img src=@Model.Foto2 alt="bridge" style="height:100%; width: 100%" />
                </figure>
            </script>

            <!-- ============================================= -->
            <!-- ============================================= -->
            <div class="LetrasYa col-md-7">
                <h3 class="my-3">@Model.Descricao</h3>
                <h3 class="my-3">@Model.Descricao1</h3>
                <ul>

                    @*VER PREÇO: DIOGO*@
                    <li>@Math.Round(@Model.Preco,2)€</li>
                    @*VER PREÇO: DIOGO*@
                    @foreach (string produtora in (List<string>)ViewData["Produtora"])
                    {
                        <li>@produtora</li>
                    }

                    @foreach (string categoria in (List<string>)ViewData["Categoria"])
                    {
                        <li>@categoria</li>
                    }

                    @foreach (string consola in (List<string>)ViewData["Consola"])
                    {
                        <li>@consola</li>
                    }
                </ul>



            </div>
            @*To Change*@
            <div class="detailsButton">
                <ejs-message id="msg_default" content="You must be logged in to Buy a Game!"></ejs-message>
            </div>
            <div class="detailsButtonJust">

                <a>Click </a> <a href="/Identity/Account/Login">Here</a> <a>to Login</a>

            </div>

        </div>



    </div>
</body>